.vs
.svn
.idea
/.vscode
/Build/Android
/Build/Android_ASTCClient
/PackageInfo
Binaries
Saved
Intermediate
DerivedDataCache
Developers
Collections
*.sln
*.VC.db
*.xcworkspace
*.code-workspace
*.ignore
Wrapper
Developer
package-lock.json
sched.h
semaphore.h
pthread.h
